.category {
    font-size: 35px;
    font-weight: calc(900);
    color: white;
}

.hr {
    border: 1px solid orange;
    background: orange;
    margin: 5px 0px 10px 0px;
}

.card {
    position: relative;
}

.card-label {
    position: absolute;
    background-image: linear-gradient(to right, yellow 0%, red 50%, orange 100%);
    padding: 5px;
    z-index: 1;
    color: black;
    opacity: 0.8;
}

.card-label::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid orange;
    left: 40%;
    bottom: -11px;
    opacity: 0.8;
    z-index: 1;
}

.card a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.card-title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(15, 15, 15, 0.6);
    color: rgb(247, 244, 244);
    font-weight: calc(300);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}

i.card-icon-play {
    display: none;
    position: absolute;
    font-size: 50px;
    color: orange;
    opacity: 0.5;
    z-index: 1;
}

.card:hover {
    box-shadow: 2px 2px 10px rgba(254, 252, 252, 0.8);
}

.card:hover .card-img {
    transform: scale(1.4);
}

.card:hover .card-icon-play {
    display: block;
}
